<link rel = "stylesheet" type = "text/css" href = "css/app.css" />
<h1 align="center" background-color="#C63D0F">List Of Contacts</h1>
<table class="generic-container">
  <thead>
    <tr class="empty">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Id</th>
      <th>InstituteName</th>
      <th>Country</th>
      <th>status</th>
   </tr>     
  <thead>
  <tr ng-repeat="contact in contacts" class="border">   
    <td>{{ contact.firstName}}</td>
    <td>{{ contact.lastName }}</td>
    <td><a ng-href="#/contact-details/{{contact.id}}">{{contact.emailId }}</a></td>
    <td>{{ contact.instituteName }}</td>
    <td>{{ contact.country }}</td>
    <td>{{ contact.status  }}</td>
    <td><button  class="button" ng-click="Edit(contact.id)">Edit</button></td>
    <td><button class="cancelbtn" ng-click="remove(contact.id, $index)">remove</button></td>
  </tr>        
</table>   
</div>    